<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.business.hx.dao.IGuidScheduleLogDao">
  <resultMap id="BaseResultMap" type="com.ye.business.hx.domain.GuidScheduleLog">
    <id column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="MEMBER_NO_GUID" jdbcType="VARCHAR" property="memberNoGuid" />
    <result column="MEMBER_NAME_GUID" jdbcType="VARCHAR" property="memberNameGuid" />
    <result column="SHOP_NO" jdbcType="VARCHAR" property="shopNo" />
    <result column="SHOP_NAME" jdbcType="VARCHAR" property="shopName" />
    <result column="MERCHANT_NO" jdbcType="VARCHAR" property="merchantNo" />
    <result column="MERCHANT_NAME" jdbcType="VARCHAR" property="merchantName" />
    <result column="WORK_DATE" jdbcType="TIMESTAMP" property="workDate" />
    <result column="DAY_NUM" jdbcType="INTEGER" property="dayNum" />
    <result column="SCHEDULE_CODE" jdbcType="VARCHAR" property="scheduleCode" />
    <result column="SCHEDULE_NAME" jdbcType="VARCHAR" property="scheduleName" />
    <result column="WORK_TIME" jdbcType="TIME" property="workTime" />
    <result column="OFF_TIME" jdbcType="TIME" property="offTime" />
    <result column="APT_FLAG" jdbcType="VARCHAR" property="aptFlag" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    CODE, MEMBER_NO_GUID, MEMBER_NAME_GUID, SHOP_NO, SHOP_NAME, MERCHANT_NO, MERCHANT_NAME, 
    WORK_DATE, DAY_NUM, SCHEDULE_CODE, SCHEDULE_NAME, WORK_TIME, OFF_TIME, APT_FLAG, 
    CREATE_ID, CREATE_DATE
  </sql>

	<resultMap id="FindResultMap"
		type="com.ye.business.hx.dto.GuidScheduleLogDto"
		extends="BaseResultMap"></resultMap>
	<sql id="findPage_condition">
		<where>
			<!-- 查询条件根据业务需求自由添加 -->
			<if test="param!=null">
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and code =#{param.code}]]>
				</if>
				<if test="param.merchantNo != null and param.merchantNo !='' ">
					<![CDATA[and MERCHANT_NO =#{param.merchantNo}]]>
				</if>
				<if test="param.shopNo != null and param.shopNo !='' ">
					<![CDATA[and SHOP_NO =#{param.shopNo}]]>
				</if>
				<if test="param.workDate != null ">
					<![CDATA[and WORK_DATE =#{param.workDate}]]>
				</if>
				<if test="param.workDateStr != null ">
					<![CDATA[and DATE_FORMAT(WORK_DATE,'%Y-%m-%d') =#{param.workDateStr}]]>
				</if>
			</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findGuidScheduleLogs" resultMap="FindResultMap"
		parameterType="com.ye.business.hx.dto.FindGuidScheduleLogPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM guid_schedule_log
		<include refid="findPage_condition" />

	</select>
	<!-- 分页查询 -->
	<select id="findGuidScheduleLogPage" resultMap="FindResultMap"
		parameterType="com.ye.business.hx.dto.FindGuidScheduleLogPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM guid_schedule_log
		<include refid="findPage_condition" />

		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findGuidScheduleLogPageCount" resultType="int"
		parameterType="com.ye.business.hx.dto.FindGuidScheduleLogPage">
		select count(*)
		FROM guid_schedule_log
		<include refid="findPage_condition" />
	</select>

  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from guid_schedule_log
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from guid_schedule_log
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ye.business.hx.domain.GuidScheduleLog">
    insert into guid_schedule_log (CODE, MEMBER_NO_GUID, MEMBER_NAME_GUID, 
      SHOP_NO, SHOP_NAME, MERCHANT_NO, 
      MERCHANT_NAME, WORK_DATE, DAY_NUM, 
      SCHEDULE_CODE, SCHEDULE_NAME, WORK_TIME, 
      OFF_TIME, APT_FLAG, CREATE_ID, 
      CREATE_DATE)
    values (#{code,jdbcType=VARCHAR}, #{memberNoGuid,jdbcType=VARCHAR}, #{memberNameGuid,jdbcType=VARCHAR}, 
      #{shopNo,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, 
      #{merchantName,jdbcType=VARCHAR}, #{workDate,jdbcType=TIMESTAMP}, #{dayNum,jdbcType=INTEGER}, 
      #{scheduleCode,jdbcType=VARCHAR}, #{scheduleName,jdbcType=VARCHAR}, #{workTime,jdbcType=TIME}, 
      #{offTime,jdbcType=TIME}, #{aptFlag,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ye.business.hx.domain.GuidScheduleLog">
    insert into guid_schedule_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        CODE,
      </if>
      <if test="memberNoGuid != null">
        MEMBER_NO_GUID,
      </if>
      <if test="memberNameGuid != null">
        MEMBER_NAME_GUID,
      </if>
      <if test="shopNo != null">
        SHOP_NO,
      </if>
      <if test="shopName != null">
        SHOP_NAME,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="merchantName != null">
        MERCHANT_NAME,
      </if>
      <if test="workDate != null">
        WORK_DATE,
      </if>
      <if test="dayNum != null">
        DAY_NUM,
      </if>
      <if test="scheduleCode != null">
        SCHEDULE_CODE,
      </if>
      <if test="scheduleName != null">
        SCHEDULE_NAME,
      </if>
      <if test="workTime != null">
        WORK_TIME,
      </if>
      <if test="offTime != null">
        OFF_TIME,
      </if>
      <if test="aptFlag != null">
        APT_FLAG,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="memberNoGuid != null">
        #{memberNoGuid,jdbcType=VARCHAR},
      </if>
      <if test="memberNameGuid != null">
        #{memberNameGuid,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null">
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dayNum != null">
        #{dayNum,jdbcType=INTEGER},
      </if>
      <if test="scheduleCode != null">
        #{scheduleCode,jdbcType=VARCHAR},
      </if>
      <if test="scheduleName != null">
        #{scheduleName,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        #{workTime,jdbcType=TIME},
      </if>
      <if test="offTime != null">
        #{offTime,jdbcType=TIME},
      </if>
      <if test="aptFlag != null">
        #{aptFlag,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ye.business.hx.domain.GuidScheduleLog">
    update guid_schedule_log
    <set>
      <if test="memberNoGuid != null">
        MEMBER_NO_GUID = #{memberNoGuid,jdbcType=VARCHAR},
      </if>
      <if test="memberNameGuid != null">
        MEMBER_NAME_GUID = #{memberNameGuid,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null">
        SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        WORK_DATE = #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dayNum != null">
        DAY_NUM = #{dayNum,jdbcType=INTEGER},
      </if>
      <if test="scheduleCode != null">
        SCHEDULE_CODE = #{scheduleCode,jdbcType=VARCHAR},
      </if>
      <if test="scheduleName != null">
        SCHEDULE_NAME = #{scheduleName,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        WORK_TIME = #{workTime,jdbcType=TIME},
      </if>
      <if test="offTime != null">
        OFF_TIME = #{offTime,jdbcType=TIME},
      </if>
      <if test="aptFlag != null">
        APT_FLAG = #{aptFlag,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ye.business.hx.domain.GuidScheduleLog">
    update guid_schedule_log
    set MEMBER_NO_GUID = #{memberNoGuid,jdbcType=VARCHAR},
      MEMBER_NAME_GUID = #{memberNameGuid,jdbcType=VARCHAR},
      SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      WORK_DATE = #{workDate,jdbcType=TIMESTAMP},
      DAY_NUM = #{dayNum,jdbcType=INTEGER},
      SCHEDULE_CODE = #{scheduleCode,jdbcType=VARCHAR},
      SCHEDULE_NAME = #{scheduleName,jdbcType=VARCHAR},
      WORK_TIME = #{workTime,jdbcType=TIME},
      OFF_TIME = #{offTime,jdbcType=TIME},
      APT_FLAG = #{aptFlag,jdbcType=VARCHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  
  
    <sql id="findPage_condition_groupguid">
		<where>
			<!-- 查询条件根据业务需求自由添加 -->
			<if test="param!=null">
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and code =#{param.code}]]>
				</if>
				<if test="param.memberNoGuids != null and param.memberNoGuids.size() > 0">
    	     		and MEMBER_NO_GUID in
		         <foreach item="item" index="index" collection="param.memberNoGuids" open="(" separator="," close=")">  
		          	 #{item}  
		          </foreach>
     			</if>
     			<if test="param.shopNo != null and param.shopNo !='' ">
					<![CDATA[and SHOP_NO =#{param.shopNo}]]>
				</if>
				<if test="param.merchantNo != null and param.merchantNo !='' ">
					<![CDATA[and MERCHANT_NO =#{param.merchantNo}]]>
				</if>
				<if test="param.startDate != null">
					<![CDATA[and WORK_DATE >= #{param.startDate}]]>
				</if>
				<if test="param.endDate != null"> 
					<![CDATA[and WORK_DATE <= #{param.endDate}]]>
				</if>
				
			</if>
		</where>
	</sql>
  
   	<!-- 分页查询 -->
	<select id="findGuidScheduleLogPageGroupByGuid" resultMap="FindResultMap"
		parameterType="com.ye.business.hx.dto.FindGuidSchedulePage">
		SELECT DISTINCT MEMBER_NO_GUID
		FROM guid_schedule_log
		<include refid="findPage_condition_groupguid" />
		ORDER BY WORK_DATE 
		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findGuidScheduleLogPageGroupByGuidCount" resultType="int"
		parameterType="com.ye.business.hx.dto.FindGuidSchedulePage">
		select count(DISTINCT MEMBER_NO_GUID)
		FROM guid_schedule_log
		<include refid="findPage_condition_groupguid" />
	</select>
  
  	 <resultMap id="GuidScheduleCycleDtoMap" type="com.ye.business.hx.dto.GuidScheduleCycleDto">
	    <result column="MEMBER_NO_GUID" jdbcType="VARCHAR" property="memberNoGuid" />
	    <result column="MEMBER_NAME_GUID" jdbcType="VARCHAR" property="memberNameGuid" />
	    <collection property="schedules" ofType="com.ye.business.hx.dto.GuidScheduleDto">
		    <result column="CODE" jdbcType="VARCHAR" property="code" />
 		    <result column="WORK_DATE" jdbcType="TIMESTAMP" property="workDate" />
		    <result column="DAY_NUM" jdbcType="INTEGER" property="dayNum" />
		    <result column="SCHEDULE_CODE" jdbcType="VARCHAR" property="scheduleCode" />
		    <result column="SCHEDULE_NAME" jdbcType="VARCHAR" property="scheduleName" /> 
		    <result column="APT_FLAG" jdbcType="VARCHAR" property="aptFlag" />
	    </collection>
 	</resultMap>
  
    <!-- 按人查出所有排班 -->
  	<select id="findGuidScheduleLogByGm" resultMap="GuidScheduleCycleDtoMap"
		parameterType="com.ye.business.hx.dto.GuidScheduleDto">
		select g.MEMBER_NO_GUID,g.MEMBER_NAME_GUID,g.SCHEDULE_CODE,g.SCHEDULE_NAME,g.APT_FLAG,g.DAY_NUM,g.WORK_DATE,g.`CODE`
		from guid_schedule_log   g
		<where>
			<!-- 查询条件根据业务需求自由添加 -->
			<if test="memberNoGuids != null and memberNoGuids.size() > 0">
   	     		and g.MEMBER_NO_GUID in
	            <foreach item="item" index="index" collection="memberNoGuids" open="(" separator="," close=")">  
	          	 #{item}  
	            </foreach>
    		</if>
    		<if test="startDate != null">
					<![CDATA[and g.WORK_DATE >= #{startDate}]]>
			</if>
			<if test="endDate != null"> 
				<![CDATA[and g.WORK_DATE <= #{endDate}]]>
			</if>
   			<if test="shopNo != null and shopNo !='' ">
					<![CDATA[and g.SHOP_NO =#{shopNo}]]>
			</if>
			<if test="merchantNo != null and merchantNo !='' ">
				<![CDATA[and g.MERCHANT_NO =#{merchantNo}]]>
			</if>
		</where>
		ORDER BY g.MEMBER_NO_GUID,g.WORK_DATE 
	</select>
	
	<!-- 员工当周排班转移到历史 -->
  	<insert id="batchAddGuidScheduleLog">
  		<![CDATA[
  		INSERT INTO `guid_schedule_log` (`CODE`, `MEMBER_NO_GUID`, `MEMBER_NAME_GUID`, `SHOP_NO`, `SHOP_NAME`, `MERCHANT_NO`, `MERCHANT_NAME`, `WORK_DATE`, `DAY_NUM`, `SCHEDULE_CODE`, `SCHEDULE_NAME`, `WORK_TIME`, `OFF_TIME`, `APT_FLAG`, `CREATE_ID`, `CREATE_DATE`) 
		
		SELECT CONCAT(g.`CODE`,DATE_FORMAT(curdate(),'_%Y%m%d') ) as `CODE` ,g.MEMBER_NO_GUID,g.MEMBER_NAME_GUID,g.SHOP_NO,g.SHOP_NAME,g.MERCHANT_NO,g.MERCHANT_NAME,
		SUBDATE(curdate(),(DAYOFWEEK(curdate())+6-g.DAY_NUM)) as WORK_DATE,g.DAY_NUM,g.SCHEDULE_CODE,s.SCHEDULE_NAME,s.WORK_TIME,s.OFF_TIME,s.APT_FLAG,g.CREATE_ID,g.CREATE_DATE
		from  guid_schedule g JOIN shop_schedule s on g.SCHEDULE_CODE=s.`CODE` 

		WHERE CONCAT(g.MEMBER_NO_GUID,DATE_FORMAT(SUBDATE(curdate(),(DAYOFWEEK(curdate())+6-g.DAY_NUM)),'_%Y%m%d')) NOT in(
			SELECT CONCAT(l.MEMBER_NO_GUID,DATE_FORMAT(l.WORK_DATE ,'_%Y%m%d')) from guid_schedule_log l 
		) and  g.TYPE='WEEK'
		
		ORDER BY g.DAY_NUM
		]]>
  	</insert>
  	
</mapper>