<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ye.business.hx.dao.IOrthodonticsPlanDao" >
  <resultMap id="BaseResultMap" type="com.ye.business.hx.domain.OrthodonticsPlan" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
    <result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
    <result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="com.ye.business.hx.dto.OrthodonticsPlanDto" id="findResultMap" extends="BaseResultMap"></resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.ye.business.hx.domain.OrthodonticsPlan" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, TYPE, CREATE_DATE, REMARK, REMARK2, REMARK3, REMARK4, CONTENT ,SORT ,PATIENT_NO
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orthodontics_plan
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPatientNo" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orthodontics_plan
    where PATIENT_NO = #{patientNo,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orthodontics_plan
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ye.business.hx.domain.OrthodonticsPlan" >
    insert into orthodontics_plan (CODE, TYPE, CREATE_DATE, 
      REMARK, REMARK2, REMARK3, 
      REMARK4, CONTENT)
    values (#{code,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, 
      #{remark4,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ye.business.hx.domain.OrthodonticsPlan" >
    insert into orthodontics_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="remark2 != null" >
        REMARK2,
      </if>
      <if test="remark3 != null" >
        REMARK3,
      </if>
      <if test="remark4 != null" >
        REMARK4,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
       <if test="patientNo != null" >
        PATIENT_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="patientNo != null" >
        #{patientNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ye.business.hx.domain.OrthodonticsPlan" >
    update orthodontics_plan
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
       <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        REMARK2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        REMARK3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        REMARK4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="patientNo != null" >
        PATIENT_NO = #{patientNo,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ye.business.hx.domain.OrthodonticsPlan" >
    update orthodontics_plan
    set TYPE = #{type,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      REMARK2 = #{remark2,jdbcType=VARCHAR},
      REMARK3 = #{remark3,jdbcType=VARCHAR},
      REMARK4 = #{remark4,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ye.business.hx.domain.OrthodonticsPlan" >
    update orthodontics_plan
    set TYPE = #{type,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      REMARK2 = #{remark2,jdbcType=VARCHAR},
      REMARK3 = #{remark3,jdbcType=VARCHAR},
      REMARK4 = #{remark4,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  
  <select id="findOrthodonticsPlanPageCount" parameterType="com.ye.business.hx.dto.FindOrthodonticsPlanPage" resultType="java.lang.Integer">
  	select count(*) 
  	from orthodontics_plan
  	<where>
  		<if test="param.type != 0">
  			TYPE = #{param.type}
  		</if>
  		<choose>
  			<when test="param.patientNo != null and param.patientNo != ''">
  				and PATIENT_NO = #{param.patientNo}
  			</when>
  			<otherwise>
  				and PATIENT_NO is null
  			</otherwise>
  		</choose>
  	</where>
  </select>
  
  <select id="findOrthodonticsPlanPage" parameterType="com.ye.business.hx.dto.FindOrthodonticsPlanPage" resultMap="findResultMap">
  	select CODE, TYPE, CREATE_DATE, REMARK, REMARK2, REMARK3, REMARK4, CONTENT as name ,SORT,UPDATE_DATE
  	from orthodontics_plan
  	<where>
  		<if test="param.type != 0">
  			TYPE = #{param.type}
  		</if>
  		<choose>
  			<when test="param.patientNo != null and param.patientNo != ''">
  				and PATIENT_NO = #{param.patientNo}
  			</when>
  			<otherwise>
  				and PATIENT_NO is null
  			</otherwise>
  		</choose>
  	</where>
  	order by SORT ASC
  	limit ${start} , ${limit}
  </select>
  
  <select id="selectMaxSort" resultType="java.lang.Integer">
  	select max(sort) from orthodontics_plan
  </select>
  
  
  <update id="updateSort" parameterType="com.ye.business.hx.dto.OrthodonticsPlanDto">
  	update orthodontics_plan
  	set sort = #{sort}
  	where CODE = #{nextCode}
  </update>
  
  
</mapper>