<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ye.business.hx.dao.IPatientImgDao" >
  <resultMap id="BaseResultMap" type="com.ye.business.hx.domain.PatientImg" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="PATIENT_CODE" property="patientCode" jdbcType="VARCHAR" />
    <result column="IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
    <result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
    <result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
    <result column="IMG_TYPE_CODE" property="imgTypeCode" jdbcType="VARCHAR" />
    <result column="RESERVATION_DATE" property="reservationDate" jdbcType="TIMESTAMP" />
    <result column="IS_DELETE" property="isDelete" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, PATIENT_CODE, IMG_URL, CREATE_DATE, CREATE_ID, REMARK, REMARK2, REMARK3, REMARK4, 
    UPDATE_DATE, UPDATE_ID, IMG_TYPE_CODE, RESERVATION_DATE, IS_DELETE
  </sql>
  
  <sql id="findPage_condition">
  	<where>
  		<if test="param != null">
  			<if test="param.code != null and param.code != ''">
  				<![CDATA[and CODE =#{param.code}]]>
  			</if>
  			<if test="param.patientCode != null and param.patientCode != ''">
  				<![CDATA[and PATIENT_CODE =#{param.patientCode}]]>
  			</if>
  			<if test="param.imgTypeCode != null and param.imgTypeCode != ''">
  				<![CDATA[and IMG_TYPE_CODE =#{param.imgTypeCode}]]>
  			</if>
  		</if>
  	</where>
  	<if test="sortBy != null and sortBy != ''">
  		<if test="'createDate'.equals(sortBy)">
  			order by CREATE_DATE desc
  		</if>
  	</if>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from patient_img
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from patient_img
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ye.business.hx.domain.PatientImg" >
    insert into patient_img (CODE, PATIENT_CODE, IMG_URL, 
      CREATE_DATE, CREATE_ID, REMARK, 
      REMARK2, REMARK3, REMARK4, 
      UPDATE_DATE, UPDATE_ID, IMG_TYPE_CODE, 
      RESERVATION_DATE, IS_DELETE)
    values (#{code,jdbcType=VARCHAR}, #{patientCode,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{imgTypeCode,jdbcType=VARCHAR}, 
      #{reservationDate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ye.business.hx.domain.PatientImg" >
    insert into patient_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE,
      </if>
      <if test="imgUrl != null" >
        IMG_URL,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="remark2 != null" >
        REMARK2,
      </if>
      <if test="remark3 != null" >
        REMARK3,
      </if>
      <if test="remark4 != null" >
        REMARK4,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
      <if test="imgTypeCode != null" >
        IMG_TYPE_CODE,
      </if>
      <if test="reservationDate != null" >
        RESERVATION_DATE,
      </if>
      <if test="isDelete != null" >
        IS_DELETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="patientCode != null" >
        #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="imgTypeCode != null" >
        #{imgTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="reservationDate != null" >
        #{reservationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ye.business.hx.domain.PatientImg" >
    update patient_img
    <set >
      <if test="patientCode != null" >
        PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        REMARK2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        REMARK3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        REMARK4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="imgTypeCode != null" >
        IMG_TYPE_CODE = #{imgTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="reservationDate != null" >
        RESERVATION_DATE = #{reservationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        IS_DELETE = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ye.business.hx.domain.PatientImg" >
    update patient_img
    set PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      REMARK2 = #{remark2,jdbcType=VARCHAR},
      REMARK3 = #{remark3,jdbcType=VARCHAR},
      REMARK4 = #{remark4,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      IMG_TYPE_CODE = #{imgTypeCode,jdbcType=VARCHAR},
      RESERVATION_DATE = #{reservationDate,jdbcType=TIMESTAMP},
      IS_DELETE = #{isDelete,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  
  <select id="findPatientImgs" parameterType="com.ye.business.hx.dto.FindPatientImgPage" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from patient_img
    <include refid="findPage_condition" />
  </select>
</mapper>