<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.business.hx.dao.IPatientMedicalDao">
  <resultMap id="BaseResultMap" type="com.ye.business.hx.domain.PatientMedical">
    <id column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PATIENT_RESERVATION_CODE" jdbcType="VARCHAR" property="patientReservationCode" />
    <result column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo" />
    <result column="PATIENT_NAME" jdbcType="VARCHAR" property="patientName" />
    <result column="DOCTOR_NO" jdbcType="VARCHAR" property="doctorNo" />
    <result column="DOCTOR_NAME" jdbcType="VARCHAR" property="doctorName" />
    <result column="ASSISTANT_NO" jdbcType="VARCHAR" property="assistantNo" />
    <result column="ASSISTANT_NAME" jdbcType="VARCHAR" property="assistantName" />
    <result column="VISITING_DATE" jdbcType="TIMESTAMP" property="visitingDate" />
    <result column="VISITING_TYPE" jdbcType="VARCHAR" property="visitingType" />
    <result column="MAIN_REMARK" jdbcType="VARCHAR" property="mainRemark" />
    <result column="MAIN_CURRENT_REMARK" jdbcType="VARCHAR" property="mainCurrentRemark" />
    <result column="MAIN_PAST_REMARK" jdbcType="VARCHAR" property="mainPastRemark" />
    <result column="CHECK_ORAL_REMARK" jdbcType="VARCHAR" property="checkOralRemark" />
    <result column="CHECK_AUXILIARY_REMARK" jdbcType="VARCHAR" property="checkAuxiliaryRemark" />
    <result column="PLAN_DIAGNOSIS_REMARK" jdbcType="VARCHAR" property="planDiagnosisRemark" />
    <result column="PLAN_TREATMENT_REMARK" jdbcType="VARCHAR" property="planTreatmentRemark" />
    <result column="DM_DISPOSAL_REMARK" jdbcType="VARCHAR" property="dmDisposalRemark" />
    <result column="DM_MEDICAL_REMARK" jdbcType="VARCHAR" property="dmMedicalRemark" />
    <result column="OTHER_LABEL_REMARK" jdbcType="VARCHAR" property="otherLabelRemark" />
    <result column="OTHER_REMARK" jdbcType="VARCHAR" property="otherRemark" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="REMARK2" jdbcType="VARCHAR" property="remark2" />
    <result column="REMARK3" jdbcType="VARCHAR" property="remark3" />
    <result column="REMARK4" jdbcType="VARCHAR" property="remark4" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap id="checkResultMap" type="com.ye.business.hx.dto.PatientMedicalCheckDto">
    <id column="C_CODE" property="code" jdbcType="VARCHAR" />
    <result column="C_CHECK_ORAL_REMARK" property="checkOralRemark" jdbcType="VARCHAR" />
    <result column="C_CHECK_AUXILIARY_REMARK" property="checkAuxiliaryRemark" jdbcType="VARCHAR" />
    <result column="C_DENTAL_POSITION" property="dentalPosition" jdbcType="VARCHAR" />
    <result column="C_DENTAL_SURFACE" property="dentalSurface" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="dmResultMap" type="com.ye.business.hx.dto.PatientMedicalDmDto">
    <id column="D_CODE" property="code" jdbcType="VARCHAR" />
    <result column="D_DENTAL_POSITION" property="dentalPosition" jdbcType="VARCHAR" />
    <result column="D_DENTAL_SURFACE" property="dentalSurface" jdbcType="VARCHAR" />
    <result column="D_DM_DISPOSAL_REMARK" property="dmDisposalRemark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="planResultMap" type="com.ye.business.hx.dto.PatientMedicalPlanDto">
    <id column="P_CODE" property="code" jdbcType="VARCHAR" />
    <result column="P_DENTAL_POSITION" property="dentalPosition" jdbcType="VARCHAR" />
    <result column="P_DENTAL_SURFACE" property="dentalSurface" jdbcType="VARCHAR" />
    <result column="P_PLAN_DIAGNOSIS_REMARK" property="planDiagnosisRemark" jdbcType="VARCHAR" />
    <result column="P_PLAN_TREATMENT_REMARK" property="planTreatmentRemark" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="FindResultMap" type="com.ye.business.hx.dto.PatientMedicalDto" extends="BaseResultMap">
		<collection property="checks"  ofType="com.ye.business.hx.dto.PatientMedicalCheckDto"   resultMap="checkResultMap"/>
		<collection property="dms"  ofType="com.ye.business.hx.dto.PatientMedicalDmDto"   resultMap="dmResultMap"/>  
		<collection property="plans"  ofType="com.ye.business.hx.dto.PatientMedicalPlanDto"   resultMap="planResultMap"/>    
	</resultMap>
	
  
  <sql id="Base_Column_List">
    pm.CODE, pm.PATIENT_RESERVATION_CODE, pm.PATIENT_NO, pm.PATIENT_NAME, pm.DOCTOR_NO, pm.DOCTOR_NAME, 
    pm.ASSISTANT_NO, pm.ASSISTANT_NAME, pm.VISITING_DATE, pm.VISITING_TYPE, pm.MAIN_REMARK, pm.MAIN_CURRENT_REMARK, 
    pm.MAIN_PAST_REMARK, pm.CHECK_ORAL_REMARK, pm.CHECK_AUXILIARY_REMARK, pm.PLAN_DIAGNOSIS_REMARK, 
    pm.PLAN_TREATMENT_REMARK, pm.DM_DISPOSAL_REMARK, pm.DM_MEDICAL_REMARK, pm.OTHER_LABEL_REMARK, 
    pm.OTHER_REMARK, pm.CREATE_DATE, pm.CREATE_ID, pm.CREATE_NAME, pm.REMARK, pm.REMARK2, pm.REMARK3, pm.REMARK4, 
    pm.UPDATE_ID, pm.UPDATE_NAME, pm.UPDATE_DATE
  </sql>
	<sql id="check_Column_List">
      ck.CODE C_CODE,ck.CHECK_ORAL_REMARK C_CHECK_ORAL_REMARK,ck.CHECK_AUXILIARY_REMARK C_CHECK_AUXILIARY_REMARK
      ,ck.DENTAL_POSITION C_DENTAL_POSITION,ck.DENTAL_SURFACE C_DENTAL_SURFACE
  </sql>
  <sql id="dm_Column_List">
      dm.CODE D_CODE,dm.DENTAL_POSITION D_DENTAL_POSITION,dm.DENTAL_SURFACE D_DENTAL_SURFACE
      ,dm.DM_DISPOSAL_REMARK D_DM_DISPOSAL_REMARK
  </sql>
	<sql id="plan_Column_List">
      plan.CODE P_CODE,plan.DENTAL_POSITION P_DENTAL_POSITION,plan.DENTAL_SURFACE P_DENTAL_SURFACE
      ,plan.PLAN_DIAGNOSIS_REMARK P_PLAN_DIAGNOSIS_REMARK,plan.PLAN_TREATMENT_REMARK P_PLAN_TREATMENT_REMARK
  </sql>
	
	<sql id="findPage_condition">
		<where>
			<!-- 查询条件根据业务需求自由添加 -->
			<if test="param!=null">
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and pm.CODE =#{param.code}]]>
				</if>
				<if test="param.patientNo != null and param.patientNo !='' ">
					<![CDATA[and pm.PATIENT_NO =#{param.patientNo}]]>
				</if>
			</if>
		</where>
		<if test="sortBy != null and sortBy != ''">
			<if test="'createDesc'.equals(sortBy)">
				order by pm.CREATE_DATE desc
			</if>
		</if>
	</sql>
	<!-- 不分页查询 -->
	<select id="findPatientMedicals" resultMap="FindResultMap"
		parameterType="com.ye.business.hx.dto.FindPatientMedicalPage">
		SELECT
		<include refid="Base_Column_List" />
		,<include refid="check_Column_List" />
		,<include refid="dm_Column_List" />
		,<include refid="plan_Column_List" />
		FROM patient_medical pm
		LEFT JOIN patient_medical_check ck on ck.MEDICAL_CODE = pm.CODE
		LEFT JOIN patient_medical_dm dm on dm.MEDICAL_CODE = pm.CODE
		LEFT JOIN patient_medical_plan plan on plan.MEDICAL_CODE = pm.CODE
		<include refid="findPage_condition" />

	</select>
	<!-- 分页查询 -->
	<select id="findPatientMedicalPage" resultMap="FindResultMap"
		parameterType="com.ye.business.hx.dto.FindPatientMedicalPage">
		SELECT
		<include refid="Base_Column_List" />
		,<include refid="check_Column_List" />
		,<include refid="dm_Column_List" />
		,<include refid="plan_Column_List" />
		FROM patient_medical pm
		LEFT JOIN patient_medical_check ck on ck.MEDICAL_CODE = pm.CODE
		LEFT JOIN patient_medical_dm dm on dm.MEDICAL_CODE = pm.CODE
		LEFT JOIN patient_medical_plan plan on plan.MEDICAL_CODE = pm.CODE
		<include refid="findPage_condition" />

		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findPatientMedicalPageCount" resultType="int"
		parameterType="com.ye.business.hx.dto.FindPatientMedicalPage">
		select count(*)
		FROM patient_medical pm
		<include refid="findPage_condition" />
	</select>

  <select id="selectByCode" parameterType="java.lang.String" resultMap="FindResultMap">
    select 
    <include refid="Base_Column_List" />
    ,<include refid="check_Column_List" />
	,<include refid="dm_Column_List" />
	,<include refid="plan_Column_List" />
	FROM patient_medical pm
	LEFT JOIN patient_medical_check ck on ck.MEDICAL_CODE = pm.CODE
	LEFT JOIN patient_medical_dm dm on dm.MEDICAL_CODE = pm.CODE
	LEFT JOIN patient_medical_plan plan on plan.MEDICAL_CODE = pm.CODE
    where pm.CODE = #{code,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patient_medical pm
    where pm.CODE = #{code,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from patient_medical
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.ye.business.hx.domain.PatientMedical">
    insert into patient_medical
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        CODE,
      </if>
      <if test="patientReservationCode != null">
        PATIENT_RESERVATION_CODE,
      </if>
      <if test="patientNo != null">
        PATIENT_NO,
      </if>
      <if test="patientName != null">
        PATIENT_NAME,
      </if>
      <if test="doctorNo != null">
        DOCTOR_NO,
      </if>
      <if test="doctorName != null">
        DOCTOR_NAME,
      </if>
      <if test="assistantNo != null">
        ASSISTANT_NO,
      </if>
      <if test="assistantName != null">
        ASSISTANT_NAME,
      </if>
      <if test="visitingDate != null">
        VISITING_DATE,
      </if>
      <if test="visitingType != null">
        VISITING_TYPE,
      </if>
      <if test="mainRemark != null">
        MAIN_REMARK,
      </if>
      <if test="mainCurrentRemark != null">
        MAIN_CURRENT_REMARK,
      </if>
      <if test="mainPastRemark != null">
        MAIN_PAST_REMARK,
      </if>
      <if test="checkOralRemark != null">
        CHECK_ORAL_REMARK,
      </if>
      <if test="checkAuxiliaryRemark != null">
        CHECK_AUXILIARY_REMARK,
      </if>
      <if test="planDiagnosisRemark != null">
        PLAN_DIAGNOSIS_REMARK,
      </if>
      <if test="planTreatmentRemark != null">
        PLAN_TREATMENT_REMARK,
      </if>
      <if test="dmDisposalRemark != null">
        DM_DISPOSAL_REMARK,
      </if>
      <if test="dmMedicalRemark != null">
        DM_MEDICAL_REMARK,
      </if>
      <if test="otherLabelRemark != null">
        OTHER_LABEL_REMARK,
      </if>
      <if test="otherRemark != null">
        OTHER_REMARK,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createName != null">
        CREATE_NAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="remark2 != null">
        REMARK2,
      </if>
      <if test="remark3 != null">
        REMARK3,
      </if>
      <if test="remark4 != null">
        REMARK4,
      </if>
      <if test="updateId != null">
        UPDATE_ID,
      </if>
      <if test="updateName != null">
        UPDATE_NAME,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="patientReservationCode != null">
        #{patientReservationCode,jdbcType=VARCHAR},
      </if>
      <if test="patientNo != null">
        #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="doctorNo != null">
        #{doctorNo,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="assistantNo != null">
        #{assistantNo,jdbcType=VARCHAR},
      </if>
      <if test="assistantName != null">
        #{assistantName,jdbcType=VARCHAR},
      </if>
      <if test="visitingDate != null">
        #{visitingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="visitingType != null">
        #{visitingType,jdbcType=VARCHAR},
      </if>
      <if test="mainRemark != null">
        #{mainRemark,jdbcType=VARCHAR},
      </if>
      <if test="mainCurrentRemark != null">
        #{mainCurrentRemark,jdbcType=VARCHAR},
      </if>
      <if test="mainPastRemark != null">
        #{mainPastRemark,jdbcType=VARCHAR},
      </if>
      <if test="checkOralRemark != null">
        #{checkOralRemark,jdbcType=VARCHAR},
      </if>
      <if test="checkAuxiliaryRemark != null">
        #{checkAuxiliaryRemark,jdbcType=VARCHAR},
      </if>
      <if test="planDiagnosisRemark != null">
        #{planDiagnosisRemark,jdbcType=VARCHAR},
      </if>
      <if test="planTreatmentRemark != null">
        #{planTreatmentRemark,jdbcType=VARCHAR},
      </if>
      <if test="dmDisposalRemark != null">
        #{dmDisposalRemark,jdbcType=VARCHAR},
      </if>
      <if test="dmMedicalRemark != null">
        #{dmMedicalRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherLabelRemark != null">
        #{otherLabelRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherRemark != null">
        #{otherRemark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null">
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null">
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ye.business.hx.domain.PatientMedical">
    update patient_medical
    <set>
      <if test="patientReservationCode != null">
        PATIENT_RESERVATION_CODE = #{patientReservationCode,jdbcType=VARCHAR},
      </if>
      <if test="patientNo != null">
        PATIENT_NO = #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="doctorNo != null">
        DOCTOR_NO = #{doctorNo,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="assistantNo != null">
        ASSISTANT_NO = #{assistantNo,jdbcType=VARCHAR},
      </if>
      <if test="assistantName != null">
        ASSISTANT_NAME = #{assistantName,jdbcType=VARCHAR},
      </if>
      <if test="visitingDate != null">
        VISITING_DATE = #{visitingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="visitingType != null">
        VISITING_TYPE = #{visitingType,jdbcType=VARCHAR},
      </if>
      <if test="mainRemark != null">
        MAIN_REMARK = #{mainRemark,jdbcType=VARCHAR},
      </if>
      <if test="mainCurrentRemark != null">
        MAIN_CURRENT_REMARK = #{mainCurrentRemark,jdbcType=VARCHAR},
      </if>
      <if test="mainPastRemark != null">
        MAIN_PAST_REMARK = #{mainPastRemark,jdbcType=VARCHAR},
      </if>
      <if test="checkOralRemark != null">
        CHECK_ORAL_REMARK = #{checkOralRemark,jdbcType=VARCHAR},
      </if>
      <if test="checkAuxiliaryRemark != null">
        CHECK_AUXILIARY_REMARK = #{checkAuxiliaryRemark,jdbcType=VARCHAR},
      </if>
      <if test="planDiagnosisRemark != null">
        PLAN_DIAGNOSIS_REMARK = #{planDiagnosisRemark,jdbcType=VARCHAR},
      </if>
      <if test="planTreatmentRemark != null">
        PLAN_TREATMENT_REMARK = #{planTreatmentRemark,jdbcType=VARCHAR},
      </if>
      <if test="dmDisposalRemark != null">
        DM_DISPOSAL_REMARK = #{dmDisposalRemark,jdbcType=VARCHAR},
      </if>
      <if test="dmMedicalRemark != null">
        DM_MEDICAL_REMARK = #{dmMedicalRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherLabelRemark != null">
        OTHER_LABEL_REMARK = #{otherLabelRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherRemark != null">
        OTHER_REMARK = #{otherRemark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        REMARK2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null">
        REMARK3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null">
        REMARK4 = #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        UPDATE_NAME = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <select id="selectByPatientReservationCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patient_medical
    where PATIENT_RESERVATION_CODE = #{patientReservationCode,jdbcType=VARCHAR}
    limit 1
  </select>
  <update id="updateByPrimaryKeyMedical" parameterType="com.ye.business.hx.domain.PatientMedical">
    update patient_medical
    set 
      DOCTOR_NO = #{doctorNo,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      ASSISTANT_NO = #{assistantNo,jdbcType=VARCHAR},
      ASSISTANT_NAME = #{assistantName,jdbcType=VARCHAR},
      VISITING_DATE = #{visitingDate,jdbcType=TIMESTAMP},
      VISITING_TYPE = #{visitingType,jdbcType=VARCHAR},
      MAIN_REMARK = #{mainRemark,jdbcType=VARCHAR},
      MAIN_CURRENT_REMARK = #{mainCurrentRemark,jdbcType=VARCHAR},
      MAIN_PAST_REMARK = #{mainPastRemark,jdbcType=VARCHAR},
      CHECK_ORAL_REMARK = #{checkOralRemark,jdbcType=VARCHAR},
      CHECK_AUXILIARY_REMARK = #{checkAuxiliaryRemark,jdbcType=VARCHAR},
      PLAN_DIAGNOSIS_REMARK = #{planDiagnosisRemark,jdbcType=VARCHAR},
      PLAN_TREATMENT_REMARK = #{planTreatmentRemark,jdbcType=VARCHAR},
      DM_DISPOSAL_REMARK = #{dmDisposalRemark,jdbcType=VARCHAR},
      DM_MEDICAL_REMARK = #{dmMedicalRemark,jdbcType=VARCHAR},
      OTHER_LABEL_REMARK = #{otherLabelRemark,jdbcType=VARCHAR},
      OTHER_REMARK = #{otherRemark,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      REMARK2 = #{remark2,jdbcType=VARCHAR},
      REMARK3 = #{remark3,jdbcType=VARCHAR},
      REMARK4 = #{remark4,jdbcType=VARCHAR},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      UPDATE_NAME = #{updateName,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>