<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.business.hx.dao.IPtTreatmentRecordDao">
  <resultMap id="BaseResultMap" type="com.ye.business.hx.domain.PtTreatmentRecord">
    <id column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="MEMBER_NO" jdbcType="VARCHAR" property="memberNo" />
    <result column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo" />
    <result column="PATIENT_NAME" jdbcType="VARCHAR" property="patientName" />
    <result column="MEDICAL_NO" jdbcType="VARCHAR" property="medicalNo" />
    <result column="SHOP_NO" jdbcType="VARCHAR" property="shopNo" />
    <result column="SHOP_NAME" jdbcType="VARCHAR" property="shopName" />
    <result column="MERCHANT_NO" jdbcType="VARCHAR" property="merchantNo" />
    <result column="MERCHANT_NAME" jdbcType="VARCHAR" property="merchantName" />
    <result column="CLINIC_TIME" jdbcType="TIMESTAMP" property="clinicTime" />
    <result column="PROJECT_CODE" jdbcType="VARCHAR" property="projectCode" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="IMG" jdbcType="VARCHAR" property="img" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="REMARK1" jdbcType="VARCHAR" property="remark1" />
    <result column="REMARK2" jdbcType="VARCHAR" property="remark2" />
    <result column="REMARK3" jdbcType="VARCHAR" property="remark3" />
    <result column="REMARK4" jdbcType="VARCHAR" property="remark4" />
  </resultMap>
  <sql id="Base_Column_List">
    CODE, MEMBER_NO, PATIENT_NO, PATIENT_NAME, MEDICAL_NO, SHOP_NO, SHOP_NAME, MERCHANT_NO, 
    MERCHANT_NAME, CLINIC_TIME, PROJECT_CODE, PROJECT_NAME, IMG, UPDATE_ID, UPDATE_DATE, 
    CREATE_ID, CREATE_DATE, REMARK, REMARK1, REMARK2, REMARK3, REMARK4
  </sql>
  
  
	<resultMap id="FindResultMap" type="com.ye.business.hx.dto.PtTreatmentRecordDto"
		extends="BaseResultMap"></resultMap>
	<sql id="findPage_condition">
		<where>
			<!-- 查询条件根据业务需求自由添加 -->
			<if test="param!=null">
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and code =#{param.code}]]>
				</if>
				<if test="param.merchantNo != null and param.merchantNo !='' ">
					<![CDATA[and MERCHANT_NO =#{param.merchantNo}]]>
				</if>
				<if test="param.memberNo != null and param.memberNo !='' ">
					<![CDATA[and MEMBER_NO =#{param.memberNo}]]>
				</if>
				<if test="param.patientNo != null and param.patientNo !='' ">
					<![CDATA[and PATIENT_NO =#{param.patientNo}]]>
				</if>
			</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findPtTreatmentRecords" resultMap="FindResultMap"
		parameterType="com.ye.business.hx.dto.FindPtTreatmentRecordPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM pt_treatment_record
		<include refid="findPage_condition" />

	</select>
	<!-- 分页查询 -->
	<select id="findPtTreatmentRecordPage" resultMap="FindResultMap"
		parameterType="com.ye.business.hx.dto.FindPtTreatmentRecordPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM pt_treatment_record
		<include refid="findPage_condition" />
		order by CREATE_DATE desc 
		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findPtTreatmentRecordPageCount" resultType="int"
		parameterType="com.ye.business.hx.dto.FindPtTreatmentRecordPage">
		select count(*)
		FROM pt_treatment_record
		<include refid="findPage_condition" />
	</select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pt_treatment_record
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pt_treatment_record
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ye.business.hx.domain.PtTreatmentRecord">
    insert into pt_treatment_record (CODE, MEMBER_NO, PATIENT_NO, 
      PATIENT_NAME, MEDICAL_NO, SHOP_NO, 
      SHOP_NAME, MERCHANT_NO, MERCHANT_NAME, 
      CLINIC_TIME, PROJECT_CODE, PROJECT_NAME, 
      IMG, UPDATE_ID, UPDATE_DATE, 
      CREATE_ID, CREATE_DATE, REMARK, 
      REMARK1, REMARK2, REMARK3, 
      REMARK4)
    values (#{code,jdbcType=VARCHAR}, #{memberNo,jdbcType=VARCHAR}, #{patientNo,jdbcType=VARCHAR}, 
      #{patientName,jdbcType=VARCHAR}, #{medicalNo,jdbcType=VARCHAR}, #{shopNo,jdbcType=VARCHAR}, 
      #{shopName,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{clinicTime,jdbcType=TIMESTAMP}, #{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{updateId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, 
      #{remark4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ye.business.hx.domain.PtTreatmentRecord">
    insert into pt_treatment_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        CODE,
      </if>
      <if test="memberNo != null">
        MEMBER_NO,
      </if>
      <if test="patientNo != null">
        PATIENT_NO,
      </if>
      <if test="patientName != null">
        PATIENT_NAME,
      </if>
      <if test="medicalNo != null">
        MEDICAL_NO,
      </if>
      <if test="shopNo != null">
        SHOP_NO,
      </if>
      <if test="shopName != null">
        SHOP_NAME,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="merchantName != null">
        MERCHANT_NAME,
      </if>
      <if test="clinicTime != null">
        CLINIC_TIME,
      </if>
      <if test="projectCode != null">
        PROJECT_CODE,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="img != null">
        IMG,
      </if>
      <if test="updateId != null">
        UPDATE_ID,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="remark1 != null">
        REMARK1,
      </if>
      <if test="remark2 != null">
        REMARK2,
      </if>
      <if test="remark3 != null">
        REMARK3,
      </if>
      <if test="remark4 != null">
        REMARK4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="patientNo != null">
        #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="medicalNo != null">
        #{medicalNo,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null">
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="clinicTime != null">
        #{clinicTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectCode != null">
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null">
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null">
        #{remark4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ye.business.hx.domain.PtTreatmentRecord">
    update pt_treatment_record
    <set>
      <if test="memberNo != null">
        MEMBER_NO = #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="patientNo != null">
        PATIENT_NO = #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="medicalNo != null">
        MEDICAL_NO = #{medicalNo,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null">
        SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="clinicTime != null">
        CLINIC_TIME = #{clinicTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectCode != null">
        PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        IMG = #{img,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null">
        REMARK1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        REMARK2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null">
        REMARK3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null">
        REMARK4 = #{remark4,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ye.business.hx.domain.PtTreatmentRecord">
    update pt_treatment_record
    set MEMBER_NO = #{memberNo,jdbcType=VARCHAR},
      PATIENT_NO = #{patientNo,jdbcType=VARCHAR},
      PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      MEDICAL_NO = #{medicalNo,jdbcType=VARCHAR},
      SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      CLINIC_TIME = #{clinicTime,jdbcType=TIMESTAMP},
      PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      IMG = #{img,jdbcType=VARCHAR},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      REMARK1 = #{remark1,jdbcType=VARCHAR},
      REMARK2 = #{remark2,jdbcType=VARCHAR},
      REMARK3 = #{remark3,jdbcType=VARCHAR},
      REMARK4 = #{remark4,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>