<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>api-os</display-name>

	<!-- Context ConfigLocation -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/application.xml</param-value>
	</context-param>
	<!-- encoding -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<!-- 取消其自动注册的异常解析器 -->
			<param-name>detectAllHandlerExceptionResolvers</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- security check -->
	<!-- <filter>
		<filter-name>security check</filter-name>
		<filter-class>com.lj.business.api.controller.SecurityCheckFilter</filter-class>
		<init-param>
			<param-name>redisCache</param-name>
			<param-value>redisCache</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>security check</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> -->
	
<!-- 	AJAX跨域请求 -->
	<filter>
        <filter-name>cors</filter-name>
        <filter-class>com.lj.business.api.filter.SimpleCORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
<!-- 	<filter> -->
<!-- 		<filter-name>DelegatingFilterProxy</filter-name> -->
<!-- 		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>targetBeanName</param-name> -->
<!-- 			<param-value>securityCheckFilter</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>targetFilterLifecycle</param-name> -->
<!-- 			<param-value>true</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>DelegatingFilterProxy</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->
	
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!-- 获取RequestContext对象，代码用 RequestContextHolder -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.lj.base.mvc.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- spring mvc -->
	<servlet>
		<servlet-name>web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/web-servlet.xml</param-value>
		</init-param> 
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>web</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 设置session超时时间为30分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- error code -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error/500.jsp</location>
	</error-page>  
</web-app>

