<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ye.business.ad.dao.IBillDao" >
  
  <sql id="Base_Column_List">
  	CODE, TRADE_NO, TRADE_TYPE, 
    MEMBER_NO, MEMBER_NAME, MERCHANT_NO, 
    MERCHANT_NAME, LOGIN_NAME, AMOUNT, 
    CREATE_TIME, CREATE_ID, REMARK, 
    REMARK2, REMARK3, REMARK4, ADVERTISE_CODE, ARTICLE_CODE
  </sql>
  
  <resultMap id="BaseResultMap" type="com.ye.business.ad.domain.Bill" >
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="TRADE_NO" property="tradeNo" jdbcType="VARCHAR" />
    <result column="TRADE_TYPE" property="tradeType" jdbcType="VARCHAR" />
    <result column="MEMBER_NO" property="memberNo" jdbcType="VARCHAR" />
    <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
    <result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
    <result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
    <result column="ADVERTISE_CODE" property="advertiseCode" jdbcType="VARCHAR" />
    <result column="ARTICLE_CODE" property="articleCode" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.ye.business.ad.domain.Bill" >
    insert into bill (CODE, TRADE_NO, TRADE_TYPE, 
      MEMBER_NO, MEMBER_NAME, MERCHANT_NO, 
      MERCHANT_NAME, LOGIN_NAME, AMOUNT, 
      CREATE_TIME, CREATE_ID, REMARK, 
      REMARK2, REMARK3, REMARK4, 
      ADVERTISE_CODE, ARTICLE_CODE
      )
    values (#{code,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, 
      #{memberNo,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, 
      #{merchantName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR}, 
      #{advertiseCode,jdbcType=VARCHAR}, #{articleCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ye.business.ad.domain.Bill" >
    insert into bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="tradeNo != null" >
        TRADE_NO,
      </if>
      <if test="tradeType != null" >
        TRADE_TYPE,
      </if>
      <if test="memberNo != null" >
        MEMBER_NO,
      </if>
      <if test="memberName != null" >
        MEMBER_NAME,
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO,
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME,
      </if>
      <if test="loginName != null" >
        LOGIN_NAME,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="remark2 != null" >
        REMARK2,
      </if>
      <if test="remark3 != null" >
        REMARK3,
      </if>
      <if test="remark4 != null" >
        REMARK4,
      </if>
      <if test="advertiseCode != null" >
        ADVERTISE_CODE,
      </if>
      <if test="articleCode != null" >
        ARTICLE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="memberNo != null" >
        #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
      <if test="advertiseCode != null" >
        #{advertiseCode,jdbcType=VARCHAR},
      </if>
      <if test="articleCode != null" >
        #{articleCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <resultMap id="FindResultMap" type="com.ye.business.ad.dto.BillDto" extends="BaseResultMap"></resultMap>
  <sql id="findPage_condition">
	<where>
	<!-- 查询条件根据业务需求自由添加  -->
	<if test="param!=null">
	<if test="param.code != null and param.code !='' ">
	<![CDATA[and code =#{param.code}]]>
	</if>
	<if test="param.tradeNo != null and param.tradeNo !='' ">
	<![CDATA[and TRADE_NO =#{param.tradeNo}]]>
	</if>
	<if test="param.memberName != null and param.memberName !='' ">
	<![CDATA[and MEMBER_NAME =#{param.memberName}]]>
	</if>
	<if test="param.memberNo != null and param.memberNo !='' ">
	<![CDATA[and MEMBER_NO =#{param.memberNo}]]>
	</if>
	<if test="param.tradeType != null and param.tradeType !='' ">
	<![CDATA[and TRADE_TYPE =#{param.tradeType}]]>
	</if>
	<if test="param.createId != null and param.createId !='' ">
	<![CDATA[and CREATE_ID =#{param.createId}]]>
	</if>
	<if test="param.startTime != null ">
		and CREATE_TIME &gt;=#{param.startTime}
	</if>
	<if test="param.endTime != null ">
		and CREATE_TIME &lt;=#{param.endTime}
	</if>
	</if>
	</where>
	
	<!-- 排序 -->
    <if test="sortBy != null and sortBy != ''">
      <if test="'dateDesc'.equals(sortBy)">
        order by CREATE_TIME desc
      </if>
    </if>
	
	</sql>
	<!-- 不分页查询 -->
	<select id="findBills" resultMap="FindResultMap" parameterType="com.ye.business.ad.dto.FindBillPage">
	SELECT
	<include refid="Base_Column_List" />
	FROM bill
	<include refid="findPage_condition" />
	
	</select>
	<!-- 分页查询 -->
	<select id="findBillPage" resultMap="FindResultMap" parameterType="com.ye.business.ad.dto.FindBillPage">
	SELECT
	<include refid="Base_Column_List" />
	FROM bill
	<include refid="findPage_condition" />
	
	limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findBillPageCount" resultType="int" parameterType="com.ye.business.ad.dto.FindBillPage">
	select count(*)
	FROM bill
	<include refid="findPage_condition" />
	</select>
</mapper>