<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ye.business.ad.dao.IRwServerDao" >
  <resultMap id="BaseResultMap" type="com.ye.business.ad.domain.RwServer" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR" />
    <result column="SHOP_NAME" property="shopName" jdbcType="VARCHAR" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR" />
    <result column="MEMBER_NO_GUID" property="memberNoGuid" jdbcType="VARCHAR" />
    <result column="MEMBER_NAME_GUID" property="memberNameGuid" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="SERVER_CODE" property="serverCode" jdbcType="VARCHAR" />
    <result column="SERVER_NAME" property="serverName" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="BIGINT" />
    <result column="ORIGINAL_PRICE" property="originalPrice" jdbcType="BIGINT" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="FindResultMap" type="com.ye.business.ad.dto.RwServerDto" extends="BaseResultMap"></resultMap>
  
  <sql id="Base_Column_List" >
    CODE, SHOP_NO, SHOP_NAME, MERCHANT_NO, MERCHANT_NAME, MEMBER_NO_GUID, MEMBER_NAME_GUID, 
    MOBILE, SERVER_CODE, SERVER_NAME, PRICE, ORIGINAL_PRICE, ORDER_NO, UPDATE_ID, UPDATE_DATE, 
    CREATE_ID, CREATE_DATE
  </sql>
  
  <sql id="findPage_condition">
    <where>
      <!-- 查询条件根据业务需求自由添加 -->
      <if test="param != null">
        <if test="param.code != null and param.code != '' ">
		  <![CDATA[and CODE = #{param.code} ]]>
		</if>
        <if test="param.createId != null and param.createId != '' ">
		  <![CDATA[and CREATE_ID = #{param.createId} ]]>
		</if>
		<if test="param.merchantNo != null and param.merchantNo != '' ">
		  <![CDATA[and MERCHANT_NO = #{param.merchantNo} ]]>
		</if>
		<if test="param.memberNoGuid != null and param.memberNoGuid != '' ">
		  <![CDATA[and MEMBER_NO_GUID = #{param.memberNoGuid} ]]>
		</if>
		<if test="param.status != null and param.status != '' ">
		  <![CDATA[and STATUS = #{param.status} ]]>
		</if>
		<if test="param.orderNo != null and param.orderNo != '' ">
		  <![CDATA[and ORDER_NO = #{param.orderNo} ]]>
		</if>
		<if test="param.mobile != null and param.mobile != '' ">
		  <![CDATA[and MOBILE = #{param.mobile} ]]>
		</if>
      </if>
    </where>
    <!-- 排序 -->
    <if test="sortBy != null and sortBy != ''">
      <if test="'dateDesc'.equals(sortBy)">
        order by UPDATE_DATE desc
      </if>
    </if>
  </sql>
  
  <!-- 不分页查询 -->
  <select id="findRwServers" resultMap="FindResultMap" parameterType="com.ye.business.ad.dto.FindRwServerPage">
	SELECT
	  <include refid="Base_Column_List" />
	FROM rw_server
	  <include refid="findPage_condition" />
  </select>
  <!-- 分页查询 -->
  <select id="findRwServerPage" resultMap="FindResultMap" parameterType="com.ye.business.ad.dto.FindRwServerPage">
	SELECT
	  <include refid="Base_Column_List" />
	FROM rw_server
	  <include refid="findPage_condition" />
	limit ${start} , ${limit}
  </select>
  <!-- 查询总数 -->
  <select id="findRwServerPageCount" resultType="int" parameterType="com.ye.business.ad.dto.FindRwServerPage">
	select count(*)
	FROM rw_server
	  <include refid="findPage_condition" />
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rw_server
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rw_server
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ye.business.ad.domain.RwServer" >
    insert into rw_server (CODE, SHOP_NO, SHOP_NAME, 
      MERCHANT_NO, MERCHANT_NAME, MEMBER_NO_GUID, 
      MEMBER_NAME_GUID, MOBILE, SERVER_CODE, 
      SERVER_NAME, PRICE, ORIGINAL_PRICE, 
      ORDER_NO, UPDATE_ID, UPDATE_DATE, 
      CREATE_ID, CREATE_DATE)
    values (#{code,jdbcType=VARCHAR}, #{shopNo,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, 
      #{merchantNo,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, #{memberNoGuid,jdbcType=VARCHAR}, 
      #{memberNameGuid,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{serverCode,jdbcType=VARCHAR}, 
      #{serverName,jdbcType=VARCHAR}, #{price,jdbcType=BIGINT}, #{originalPrice,jdbcType=BIGINT}, 
      #{orderNo,jdbcType=VARCHAR}, #{updateId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ye.business.ad.domain.RwServer" >
    insert into rw_server
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="shopNo != null" >
        SHOP_NO,
      </if>
      <if test="shopName != null" >
        SHOP_NAME,
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO,
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME,
      </if>
      <if test="memberNoGuid != null" >
        MEMBER_NO_GUID,
      </if>
      <if test="memberNameGuid != null" >
        MEMBER_NAME_GUID,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="serverCode != null" >
        SERVER_CODE,
      </if>
      <if test="serverName != null" >
        SERVER_NAME,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="originalPrice != null" >
        ORIGINAL_PRICE,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="shopNo != null" >
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="memberNoGuid != null" >
        #{memberNoGuid,jdbcType=VARCHAR},
      </if>
      <if test="memberNameGuid != null" >
        #{memberNameGuid,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="serverCode != null" >
        #{serverCode,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null" >
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=BIGINT},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ye.business.ad.domain.RwServer" >
    update rw_server
    <set >
      <if test="shopNo != null" >
        SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="memberNoGuid != null" >
        MEMBER_NO_GUID = #{memberNoGuid,jdbcType=VARCHAR},
      </if>
      <if test="memberNameGuid != null" >
        MEMBER_NAME_GUID = #{memberNameGuid,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="serverCode != null" >
        SERVER_CODE = #{serverCode,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null" >
        SERVER_NAME = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=BIGINT},
      </if>
      <if test="originalPrice != null" >
        ORIGINAL_PRICE = #{originalPrice,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ye.business.ad.domain.RwServer" >
    update rw_server
    set SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      MEMBER_NO_GUID = #{memberNoGuid,jdbcType=VARCHAR},
      MEMBER_NAME_GUID = #{memberNameGuid,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      SERVER_CODE = #{serverCode,jdbcType=VARCHAR},
      SERVER_NAME = #{serverName,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=BIGINT},
      ORIGINAL_PRICE = #{originalPrice,jdbcType=BIGINT},
      ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>