<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.business.member.dao.IGuidMemberRwDao" >
  <resultMap id="BaseResultMap" type="com.lj.business.member.domain.GuidMemberRw" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="OPEN_LEVEL_DATE" property="openLevelDate" jdbcType="TIMESTAMP" />
    <result column="END_LEVEL_DATE" property="endLevelDate" jdbcType="TIMESTAMP" />
    <result column="USER_LEVEL" property="userLevel" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="BIRTH_DATE" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="USER_LIKE" property="userLike" jdbcType="VARCHAR" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="FindResultMap" type="com.lj.business.member.dto.GuidMemberRwDto" extends="BaseResultMap"></resultMap>
  
  <sql id="Base_Column_List" >
    CODE, MEMBER_NAME, MERCHANT_NO, OPEN_LEVEL_DATE, END_LEVEL_DATE, USER_LEVEL, CREATE_TIME, UPDATE_TIME, 
    BIRTH_DATE, USER_LIKE, LOGIN_NAME
  </sql>
  
  <sql id="findPage_condition">
    <where>
      <!-- 查询条件根据业务需求自由添加 -->
      <if test="param != null">
        <if test="param.code != null and param.code != '' ">
		  <![CDATA[and CODE = #{param.code} ]]>
		</if>
		<if test="param.merchantNo != null and param.merchantNo != '' ">
		  <![CDATA[and MERCHANT_NO = #{param.merchantNo} ]]>
		</if>		
		<if test="param.userLevel != null and param.userLevel != '' ">
		  <![CDATA[and USER_LEVEL = #{param.userLevel} ]]>
		</if>
        <if test="param.beginOpenLevelDate != null and param.beginOpenLevelDate != ''">
		  <![CDATA[and date_format(OPEN_LEVEL_DATE, '%Y-%m-%d') >= #{param.beginOpenLevelDate} ]]>
		</if>
		<if test="param.endOpenLevelDate != null and param.endOpenLevelDate != ''">
		  <![CDATA[and date_format(OPEN_LEVEL_DATE, '%Y-%m-%d') <= #{param.endOpenLevelDate} ]]>
		</if>
        <if test="param.beginEndLevelDate != null and param.beginEndLevelDate != ''">
		  <![CDATA[and date_format(END_LEVEL_DATE, '%Y-%m-%d') >= #{param.beginEndLevelDate} ]]>
		</if>
		<if test="param.endEndLevelDate != null and param.endEndLevelDate != ''">
		  <![CDATA[and date_format(END_LEVEL_DATE, '%Y-%m-%d') <= #{param.endEndLevelDate} ]]>
		</if>
		<if test="param.codeList != null and param.codeList.size() > 0 ">		  
		  and CODE in <foreach collection="param.codeList" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
      </if>
    </where>
    <!-- 排序 -->
    <if test="sortBy != null and sortBy != ''">
      <if test="'dateDesc'.equals(sortBy)">
        order by UPDATE_TIME desc
      </if>
    </if>
  </sql>
  
  <!-- 不分页查询 -->
  <select id="findGuidMemberRws" resultMap="FindResultMap" parameterType="com.lj.business.member.dto.FindGuidMemberRwPage">
	SELECT
	  <include refid="Base_Column_List" />
	FROM guid_member_rw
	  <include refid="findPage_condition" />
  </select>
  <!-- 分页查询 -->
  <select id="findGuidMemberRwPage" resultMap="FindResultMap" parameterType="com.lj.business.member.dto.FindGuidMemberRwPage">
	SELECT
	  <include refid="Base_Column_List" />
	FROM guid_member_rw
	  <include refid="findPage_condition" />
	limit ${start} , ${limit}
  </select>
  <!-- 查询总数 -->
  <select id="findGuidMemberRwPageCount" resultType="int" parameterType="com.lj.business.member.dto.FindGuidMemberRwPage">
	select count(*)
	FROM guid_member_rw
	  <include refid="findPage_condition" />
  </select>
    
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from guid_member_rw
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from guid_member_rw
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lj.business.member.domain.GuidMemberRw" >
    insert into guid_member_rw (CODE, MEMBER_NAME, OPEN_LEVEL_DATE, 
      END_LEVEL_DATE, USER_LEVEL, CREATE_TIME, 
      UPDATE_TIME, BIRTH_DATE, USER_LIKE
      )
    values (#{code,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{openLevelDate,jdbcType=TIMESTAMP}, 
      #{endLevelDate,jdbcType=TIMESTAMP}, #{userLevel,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{birthDate,jdbcType=TIMESTAMP}, #{userLike,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lj.business.member.domain.GuidMemberRw" >
    insert into guid_member_rw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO,
      </if>
      <if test="memberName != null" >
        MEMBER_NAME,
      </if>
      <if test="openLevelDate != null" >
        OPEN_LEVEL_DATE,
      </if>
      <if test="endLevelDate != null" >
        END_LEVEL_DATE,
      </if>
      <if test="userLevel != null" >
        USER_LEVEL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="birthDate != null" >
        BIRTH_DATE,
      </if>
      <if test="userLike != null" >
        USER_LIKE,
      </if>
      <if test="loginName != null" >
        LOGIN_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="openLevelDate != null" >
        #{openLevelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endLevelDate != null" >
        #{endLevelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userLike != null" >
        #{userLike,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.business.member.domain.GuidMemberRw" >
    update guid_member_rw
    <set >
      <if test="memberName != null" >
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="openLevelDate != null" >
        OPEN_LEVEL_DATE = #{openLevelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endLevelDate != null" >
        END_LEVEL_DATE = #{endLevelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userLevel != null" >
        USER_LEVEL = #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="birthDate != null" >
        BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userLike != null" >
        USER_LIKE = #{userLike,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lj.business.member.domain.GuidMemberRw" >
    update guid_member_rw
    set MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      OPEN_LEVEL_DATE = #{openLevelDate,jdbcType=TIMESTAMP},
      END_LEVEL_DATE = #{endLevelDate,jdbcType=TIMESTAMP},
      USER_LEVEL = #{userLevel,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      USER_LIKE = #{userLike,jdbcType=VARCHAR},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>