<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.business.st.dao.IAreaOrderAnalyzeDao" >
  <resultMap id="BaseResultMap" type="com.lj.business.st.domain.AreaOrderAnalyze" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="ST_DATE" property="stDate" jdbcType="DATE" />
    <result column="NUM_ORDER" property="numOrder" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, MERCHANT_NO, AREA_CODE, AREA_NAME, ST_DATE, NUM_ORDER, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from area_order_analyze
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  
  <select id="findAreaCodeMaxNum" resultType="com.lj.business.st.dto.AreaOrderAnalyze.FindAreaOrderAnalyzeReturn" parameterType="com.lj.business.st.dto.AreaOrderAnalyze.FindAreaOrderAnalyze">
     SELECT IFNULL(SUM(NUM_ORDER),0) ,AREA_NAME areaName,AREA_CODE areaCode
     FROM area_order_analyze 
     WHERE 1=1
     <if test="merchantNo != null and merchantNo !='' ">
		and MERCHANT_NO = #{merchantNo}
	 </if>	
     GROUP BY AREA_CODE ORDER BY SUM(NUM_ORDER) DESC LIMIT 1
  </select> 
  
  <select id="findAreaOrderAnalyzeList" resultMap="BaseResultMap" parameterType="com.lj.business.st.dto.AreaOrderAnalyze.FindAreaOrderAnalyze" >
    select
    sum(NUM_ORDER) as 'NUM_ORDER', AREA_NAME,
    AREA_CODE,MERCHANT_NO
    from area_order_analyze
    where 1 = 1
    <if test="merchantNo != null">
      AND MERCHANT_NO = #{merchantNo}
    </if>
    <if test="beginDate != null">
      <![CDATA[
        and ST_DATE >= #{beginDate,jdbcType=DATE}
     ]]>
    </if>
    <if test="endDate != null">
      <![CDATA[
        and ST_DATE <= #{endDate,jdbcType=DATE}
       ]]>
    </if>
    group by AREA_CODE
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from area_order_analyze
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lj.business.st.domain.AreaOrderAnalyze" >
    insert into area_order_analyze (CODE, MERCHANT_NO, AREA_CODE, 
      AREA_NAME, ST_DATE, NUM_ORDER, 
      CREATE_DATE)
    values (#{code,jdbcType=VARCHAR}, #{merchantNo,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{areaName,jdbcType=VARCHAR}, #{stDate,jdbcType=DATE}, #{numOrder,jdbcType=BIGINT}, 
      NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.lj.business.st.domain.AreaOrderAnalyze" >
    insert into area_order_analyze
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO,
      </if>
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
      <if test="areaName != null" >
        AREA_NAME,
      </if>
      <if test="stDate != null" >
        ST_DATE,
      </if>
      <if test="numOrder != null" >
        NUM_ORDER,
      </if>
        CREATE_DATE,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="stDate != null" >
        #{stDate,jdbcType=DATE},
      </if>
      <if test="numOrder != null" >
        #{numOrder,jdbcType=BIGINT},
      </if>
        NOW(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.business.st.domain.AreaOrderAnalyze" >
    update area_order_analyze
    <set >
      <if test="merchantNo != null" >
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="stDate != null" >
        ST_DATE = #{stDate,jdbcType=DATE},
      </if>
      <if test="numOrder != null" >
        NUM_ORDER = #{numOrder,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lj.business.st.domain.AreaOrderAnalyze" >
    update area_order_analyze
    set MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      AREA_NAME = #{areaName,jdbcType=VARCHAR},
      ST_DATE = #{stDate,jdbcType=DATE},
      NUM_ORDER = #{numOrder,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>