<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.business.weixin.dao.IWxSmallProgramDao" >
  <resultMap id="BaseResultMap" type="com.lj.business.weixin.domain.WxSmallProgram" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NO_WX_ZK" property="noWxZk" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="SP_APPID" property="spAppid" jdbcType="VARCHAR" />
    <result column="SP_NAME" property="spName" jdbcType="VARCHAR" />
    <result column="SP_LOGO" property="spLogo" jdbcType="VARCHAR" />
    <result column="SP_DESC" property="spDesc" jdbcType="VARCHAR" />
    <result column="SP_URL" property="spUrl" jdbcType="VARCHAR" />
    <result column="SP_PAGE_PATH" property="spPagePath" jdbcType="VARCHAR" />
    <result column="WX_PARAM" property="wxParam" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    
    
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
    <result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
    <result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="com.lj.business.weixin.dto.smallprogram.FindWxSmallProgramReturn" id="FindWxSmallProgramReturnResultMap" extends="BaseResultMap"></resultMap>
  <resultMap type="com.lj.business.weixin.dto.smallprogram.FindWxSmallProgramPageReturn" id="FindWxSmallProgramPageReturnResultMap" extends="BaseResultMap"></resultMap>
  
  
  <sql id="Base_Column_List" >
    CODE, NO_WX_ZK, TYPE, SP_APPID, SP_NAME, SP_LOGO, SP_DESC, SP_URL, SP_PAGE_PATH, 
    WX_PARAM, STATUS,  MERCHANT_NO, MERCHANT_NAME, CREATE_DATE, REMARK, 
    REMARK2, REMARK3, REMARK4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wx_small_program
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wx_small_program
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lj.business.weixin.domain.WxSmallProgram" >
    insert into wx_small_program (CODE, NO_WX_ZK, TYPE, 
      SP_APPID, SP_NAME, SP_LOGO, 
      SP_DESC, SP_URL, SP_PAGE_PATH, 
      WX_PARAM, STATUS,  
       MERCHANT_NO, MERCHANT_NAME, 
      CREATE_DATE, REMARK, REMARK2, 
      REMARK3, REMARK4)
    values (#{code,jdbcType=VARCHAR}, #{noWxZk,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{spAppid,jdbcType=VARCHAR}, #{spName,jdbcType=VARCHAR}, #{spLogo,jdbcType=VARCHAR}, 
      #{spDesc,jdbcType=VARCHAR}, #{spUrl,jdbcType=VARCHAR}, #{spPagePath,jdbcType=VARCHAR}, 
      #{wxParam,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},  
       #{merchantNo,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lj.business.weixin.domain.WxSmallProgram" >
    insert into wx_small_program
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="noWxZk != null" >
        NO_WX_ZK,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="spAppid != null" >
        SP_APPID,
      </if>
      <if test="spName != null" >
        SP_NAME,
      </if>
      <if test="spLogo != null" >
        SP_LOGO,
      </if>
      <if test="spDesc != null" >
        SP_DESC,
      </if>
      <if test="spUrl != null" >
        SP_URL,
      </if>
      <if test="spPagePath != null" >
        SP_PAGE_PATH,
      </if>
      <if test="wxParam != null" >
        WX_PARAM,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO,
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="remark2 != null" >
        REMARK2,
      </if>
      <if test="remark3 != null" >
        REMARK3,
      </if>
      <if test="remark4 != null" >
        REMARK4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="noWxZk != null" >
        #{noWxZk,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="spAppid != null" >
        #{spAppid,jdbcType=VARCHAR},
      </if>
      <if test="spName != null" >
        #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spLogo != null" >
        #{spLogo,jdbcType=VARCHAR},
      </if>
      <if test="spDesc != null" >
        #{spDesc,jdbcType=VARCHAR},
      </if>
      <if test="spUrl != null" >
        #{spUrl,jdbcType=VARCHAR},
      </if>
      <if test="spPagePath != null" >
        #{spPagePath,jdbcType=VARCHAR},
      </if>
      <if test="wxParam != null" >
        #{wxParam,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        #{remark4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.business.weixin.domain.WxSmallProgram" >
    update wx_small_program
    <set >
      <if test="noWxZk != null" >
        NO_WX_ZK = #{noWxZk,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="spAppid != null" >
        SP_APPID = #{spAppid,jdbcType=VARCHAR},
      </if>
      <if test="spName != null" >
        SP_NAME = #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spLogo != null" >
        SP_LOGO = #{spLogo,jdbcType=VARCHAR},
      </if>
      <if test="spDesc != null" >
        SP_DESC = #{spDesc,jdbcType=VARCHAR},
      </if>
      <if test="spUrl != null" >
        SP_URL = #{spUrl,jdbcType=VARCHAR},
      </if>
      <if test="spPagePath != null" >
        SP_PAGE_PATH = #{spPagePath,jdbcType=VARCHAR},
      </if>
      <if test="wxParam != null" >
        WX_PARAM = #{wxParam,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        REMARK2 = #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="remark3 != null" >
        REMARK3 = #{remark3,jdbcType=VARCHAR},
      </if>
      <if test="remark4 != null" >
        REMARK4 = #{remark4,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lj.business.weixin.domain.WxSmallProgram" >
    update wx_small_program
    set NO_WX_ZK = #{noWxZk,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      SP_APPID = #{spAppid,jdbcType=VARCHAR},
      SP_NAME = #{spName,jdbcType=VARCHAR},
      SP_LOGO = #{spLogo,jdbcType=VARCHAR},
      SP_DESC = #{spDesc,jdbcType=VARCHAR},
      SP_URL = #{spUrl,jdbcType=VARCHAR},
      SP_PAGE_PATH = #{spPagePath,jdbcType=VARCHAR},
      WX_PARAM = #{wxParam,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      
      
      MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      REMARK2 = #{remark2,jdbcType=VARCHAR},
      REMARK3 = #{remark3,jdbcType=VARCHAR},
      REMARK4 = #{remark4,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  
  <select id="findByAppidAndNoWxZk" resultMap="FindWxSmallProgramReturnResultMap" parameterType="com.lj.business.weixin.dto.smallprogram.FindWxSmallProgram">
  	select <include refid="Base_Column_List" />
      from wx_small_program
     where NO_WX_ZK = #{noWxZk,jdbcType=VARCHAR}
       and SP_APPID = #{spAppid,jdbcType=VARCHAR}
       and SP_PAGE_PATH = #{spPagePath,jdbcType=VARCHAR}
       and MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
  </select>
  
  <!-- 分页查询 - begin -->
	<sql id="findWxSmallProgramPage_condition">
		<where>
			<if test="noWxZk != null and noWxZk !='' " >
				and NO_WX_ZK = #{noWxZk,jdbcType=VARCHAR}
	        </if>
			<if test="type != null and type !='' " >
				and type = #{type,jdbcType=VARCHAR}
	        </if>
			<if test="spName != null and spName !='' " >
				and sp_name like concat('%',#{spName},'%')
	        </if>
			<if test="status != null " >
				and status = #{status,jdbcType=TINYINT}
	        </if>
			<if test="merchantNo != null and merchantNo !='' " >
	        	and merchant_no = #{merchantNo,jdbcType=VARCHAR}
	        </if>
			<if test="shopNos != null and shopNos.size() > 0">
      	     and shop_no in
	           <foreach item="item" index="index" collection="shopNos" open="(" separator="," close=")">  
	              #{item}  
	             </foreach>
	        </if>
		</where>
	</sql>

	<select id="findWxSmallProgramPage" resultMap="FindWxSmallProgramPageReturnResultMap" parameterType="com.lj.business.weixin.dto.smallprogram.FindWxSmallProgramPage">
		SELECT <include refid="Base_Column_List" />
		FROM wx_small_program
		<include refid="findWxSmallProgramPage_condition" />
		order by CREATE_DATE desc
		limit ${start}, ${limit}
	</select>

	<select id="findWxSmallProgramPageCount" resultType="int" parameterType="com.lj.business.weixin.dto.smallprogram.FindWxSmallProgramPage">
		select count(*) 
		FROM wx_small_program
		<include refid="findWxSmallProgramPage_condition" />
	</select>
	<!-- 分页查询 - end -->
	
	<delete id="delete" parameterType="com.lj.business.weixin.dto.ImGroupChatInfoDto">
		delete from wx_small_program
		where NO_WX_ZK = #{noWxZk,jdbcType=VARCHAR}
		and MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
	</delete>
</mapper>